* {
  padding: 0;
  margin: 0;
}
.CodeMirror-scroll {
  background-color: #1d1e22;
}
.CodeMirror-gutter {
  background-color: #1d1e22;
}
@media screen and (max-width: 600px) {
  .global {
    display: block !important;
  }
  .codeArea {
    width: 100vw !important;
  }
  .outputArea {
    width: 100vw !important;
  }
}
@media screen and (min-width: 600px) {
  .codeArea {
    height: 91vh;
  }
}
